$main-color: #222831;
$box-color: #d4dbe3;
$secondary-color: #2d9a63;
$focus: #186441;
$hover: #1e7d4f;
$pure-white: #ffff;
$light-white: #eeeeee;
$dark: #2e2e2e;
$pure-dark: #393e46;
$dark-color: #000000;
$shadow-dark: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$carousel-bg-color: rgba(0, 0, 0, 0.8);
$hover-bg-color: rgba(255, 255, 255, 0.1);

$shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$primary-color: #7f00ff;
$text-color: #000000;
$background-color: #f8f8f8;
$input-border-color: #dddddd;
$input-background-color: #ffffff;
$shadow-color: rgba(0, 0, 0, 0.1);
$hover-color: rgba(127, 0, 255, 0.1);
