$main-color: #222831;
$secondary-color: #00adb5;
$pure-white: #ffff;
$light-white: #eeeeee;
$dark: #2e2e2e;
$pure-dark: #393e46;
$dark-color: #000000;
$shadow-dark: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

$shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
