body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #000000;
  --sb-size: 11px;
}
// SCROLLER
body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
*::selection {
  // background-color: red;
}

h2 {
  font-size: 4rem;
  // text-align: left;
  font-weight: 800;
}

h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
