@import "./components/nav";
@import "./components/footer";
@import "./components/cta";

@import "./global";
@import "./mixins";
@import "./colors";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: $light-white;
  font-size: 1.6rem;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

// HEADER
.header {
  display: flex;
  justify-content: center;
  min-height: 92vh;
  text-align: left;
  padding-bottom: 50px;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
    width: 100%;
  }
  &__text {
    text-align: left;
    flex: 1 1 50%;
    padding-right: 2em;
  }

  &__text p {
    padding-bottom: 30px;
    font-size: 1.6rem;
  }
  &__text a {
    background-color: $main-color;
    padding: 1em 2em;
    font-size: 1.7rem;
    border-radius: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.35s ease;
  }
  &__text a:hover {
    background-color: $hover;
  }

  &__image {
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  &__image img {
    // max-width: 70%;
    width: 420px;
    border-radius: 20px;
  }
}

// MAIN
.main {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: $main-color;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__image {
    flex: 1 1 35%;
  }
  &__image img {
    max-width: 100%;
    object-fit: contain;
  }

  &__tekst-box {
    padding-top: 50px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    flex: 1 1 65%;
  }
  &__tekst-box h3 {
    text-align: center;

    margin-bottom: 0.5em;
    color: $light-white;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 1em 0;
    font-size: 1.5rem;
    text-align: left;
    background-color: $pure-dark;
    padding: 1.5em 3em;
    border-radius: 1.4em;
  }
  &__text p {
    color: $pure-white;
    padding-bottom: 10px;
    font-weight: 500;
  }
  &__text span {
    font-weight: 400;
    color: $light-white;
  }
  .main__text p,
  .main__text span {
    margin-left: -1em;
  }
}

//ARTICLE
.content {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: $main-color;
  padding: 100px 0;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
    width: 100%;
  }
  &__text {
    color: $secondary-color;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  &__title {
    font-size: 4rem;
    text-align: center;
    color: $pure-white;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  &__span {
    font-weight: 400;
    color: $light-white;
    font-size: 1.5rem;
  }
}
// PARTNERS
.slider__wrapper {
  margin: 0 auto 200px;

  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}
* {
  margin: 0;
  padding: 0;
}
.slider__slide img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.slider {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  position: relative;

  &__container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  &__slide {
    width: 100vw;
    flex-shrink: 0;

    img {
      width: 100%;
      // max-height: 400px;
      display: block;
      object-fit: cover;
      width: 100%;
      // height: 100%;

      background-position: end;
      background-repeat: no-repeat;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;

    &--prev {
      left: 10px;
    }

    &--next {
      right: 10px;
    }
  }

  &__pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    &__dot {
      height: 10px;
      width: 10px;
      background-color: white;
      margin: 0 5px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
@media (max-width: 768px) {
  .slider {
    &__button {
      display: none;
    }
  }
}

// ELEMENTS

.section_box {
  padding: 65px 0 35px;

  & h3 {
    text-align: center;
  }
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 35px;

  &__item {
    flex: 0 1 calc(25%);
    max-width: calc(25% - 15px);
    background-color: $pure-dark;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    overflow: hidden;
    text-align: center;
  }
  &__image {
    width: 100%;
    height: 350px;
    display: block;
    margin-bottom: 10px;
    object-fit: cover;
  }
  &__image img {
    width: 100%;
    // update 19.05
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    padding: 0 20px;
    text-align: left;
    margin-bottom: 30px;
  }
  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    color: $pure-white;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 1.4rem;
    font-weight: 400;
    color: $light-white;
    margin-bottom: 20px;
  }
  &__btn {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 10px 20px;
    background-color: $focus;
    color: $light-white;
    border: 1px solid $focus;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  &__btn:hover {
    background-color: $hover;
  }
}

// SLIDER
.section_title {
  text-align: left;
  padding: 75px 20px 25px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 50px 20px;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.carousel-controls {
  position: absolute;
  top: 0%;
  right: 10%;

  z-index: 1;
}
.carousel-control {
  display: inline-block;
  padding: 15px 20px;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: $main-color;
  color: $pure-white;
  text-decoration: none;
  border-radius: 5px;
  // margin: 10px;
  transition: background-color 0.3s ease;
}
.carousel-control:hover {
  background-color: $secondary-color;
}

.carousel {
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

.carousel__item {
  text-align: center;
  background-color: $box-color;
  border-radius: 20px;
  padding: 20px;
  // height: 200px;
  margin-left: 20px;
}

.carousel__image {
  width: 100%;
  max-width: 200px;

  display: block;
  margin: 0 auto;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.carousel__title {
  margin: 10px 0;
  font-size: 1.5rem;
  color: $dark-color;
}
.carousel__text {
  margin-bottom: 20px;
  color: $pure-dark;
}
.carousel__btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: $dark-color;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.carousel__btn:hover {
  background-color: $main-color;
}
// contact
.support-section {
  background-color: $main-color;
  min-height: 50vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.support-card {
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  max-width: 320px;
  height: 200px;
  flex: 1 1 300px;
}

.support-card:hover {
  background-color: #f1f1f1;
  border-color: #d0d0d0;
}

.support-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.support-description {
  font-weight: bold;
  margin-bottom: 10px;
}

.support-contact span {
  display: block;
}

.support-contact a {
  color: #6a0dad;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.support-contact a:hover {
  color: #4b0082;
}
.contact {
  margin: 100px 0;
  width: 100%;
  // max-width: 600px;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 0 15px $shadow-color;
  border-radius: 12px;
  text-align: center;

  &__title {
    // font-size: 3.25rem;
    color: $text-color;
    font-weight: 700;
  }

  &__heading {
    // font-size: 2.75rem;
    font-weight: 500;
    color: $text-color;
    margin: 1.5rem 0;
  }

  &__description {
    // font-size: 2rem;
    color: $text-color;
    margin-bottom: 2.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 1rem;

      @media (max-width: 600px) {
        flex-direction: column;
      }
    }
  }

  &__input,
  &__textarea {
    font-family: inherit;
    width: 100%;
    padding: 1.75rem;
    margin-bottom: 1rem;
    border: 1px solid $input-border-color;
    border-radius: 8px;
    background-color: $input-background-color;
    // font-size: 1.5rem;
    color: $text-color;
    box-shadow: 0 2px 4px $shadow-color;
    transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;

    &:focus {
      outline: none;
      border-color: $primary-color;
    }

    &:hover {
      background-color: $hover-color;
    }
  }

  &__input {
    &--first-name,
    &--last-name {
      width: calc(50% - 0.5rem);

      @media (max-width: 600px) {
        width: 100%;
        margin-bottom: 1rem;
      }
    }

    &--first-name {
      margin-right: 1rem;

      @media (max-width: 600px) {
        margin-right: 0;
      }
    }
  }

  &__textarea {
    resize: vertical; // Allow resizing only vertically
    height: 100px;
  }

  &__button {
    background-color: $primary-color;
    color: #fff;
    padding: 1.75rem 2.5rem;
    // font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
      background-color: darken($primary-color, 10%);
      box-shadow: 0 4px 8px $shadow-color;
    }
  }
}

// ABOUT

.about {
  background-color: $light-white;
  padding: 65px 20px 35px;
  &__wrapper {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
  }

  &__text {
    width: calc(65% - 20px);
    color: $dark-color;
  }

  &__text h2 {
    margin-bottom: 25px;
  }

  &__text p {
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__image {
    width: calc(35% - 25px);
    margin-top: 25px;
  }

  &__image img {
    width: 100%;
    height: auto;
  }
}
//

.accordion-wrapper {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;

  // box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);

  width: 85%;
  max-width: 800px;
  margin: 0 auto;
}
.accordion-wrapper h2 {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 25px;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.accordion {
  max-width: 800px;
  margin: 2rem auto 100px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s ease-out;
}

.accordion__item {
  border-bottom: 1px solid #ddd;
  &:last-child {
    border-bottom: none;
  }
}

.accordion__header {
  padding: 1rem;
  background: $main-color;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__title {
  font-size: 1.5rem;
  padding: 0.3em 0;
  font-weight: 500;
  margin: 0;
}

.accordion__arrow {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding: 0 1rem;
  background: #f9f9f9;
  ul {
    padding-left: 1.5rem;
  }
}

.accordion__list {
  list-style-type: disc;
  margin: 0;
  padding: 0;
}

.accordion__list-item {
  margin: 0.5rem 0;
  padding: 1em 0;
  font-size: 14px;
  font-weight: 400;
  transition: background-color 0.3s ease-in;
  cursor: pointer;
}

.accordion__item.active .accordion__content {
  max-height: 1000px;
  padding: 1rem;
}

.accordion__item.active .accordion__arrow {
  transform: rotate(180deg);
}
.accordion__list-item:hover {
  background-color: $box-color;
}
// SERVICES

.main-services {
  background-color: $main-color;
}
.services {
  background-color: $main-color;
}
.wrapper {
  margin: 0 auto;
  width: 100%;

  max-width: 1200px;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 2em 0;
}
.section-heading {
  position: relative;
  margin-top: 2em;
  font-size: 4rem;
  font-weight: 300;
  text-align: left;
  color: $pure-white;
  font-weight: 700;
}

.services__item-img {
  width: 100%;
  margin-bottom: 1.3em;
}

.services__item-title {
  color: $light-white;
  margin-bottom: 0.6em;
}

.services__item-text {
  color: $pure-white;
  font-size: 1.4rem;
}

.section-title {
  margin-bottom: 40px;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
/* styles.css */
.company-location {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
}
.company-location__heading {
  margin-bottom: 40px;
  color: $dark-color;
  font-weight: 900;
}
.company-location__map iframe {
  width: 100%;
  height: 450px;
  border: 0;
}
@media (min-width: 1024px) {
  .company-location__map iframe {
    height: 600px;
  }
}

.contact-popup-button {
  position: fixed;
  bottom: 40px;
  left: 20px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  background: $focus;
  color: white;
  padding: 10px;
  border-radius: 30px;
  width: 210px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  font-weight: 700;
}

.contact-popup-button img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
  margin-right: 10px;
  animation: bounce 2s ease infinite;
  animation-iteration-count: 1;
  animation-delay: 6s;
  // animation-play-state: paused;
}

.contact-popup-button:hover img {
  transform: scale(1.1);
}

.contact-popup-button span {
  font-size: 16px;
}

.contact-popup {
  display: none;
  position: fixed;
  bottom: 110px;
  left: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 320px;
  z-index: 1001;
  border: 1px solid #ccc;
}

.popup-content {
  padding: 20px;
  font-size: 14px;
}

.close-button {
  float: right;
  font-size: 24px;
  cursor: pointer;
  color: #888;
}

.close-button:hover {
  color: #444;
}

.contact-popup h4 {
  margin-top: 0;
  font-size: 18px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.contact-popup p {
  margin: 10px 0;
}

.contact-popup a {
  color: $secondary-color;
  text-decoration: none;
}

contact-popup a:hover {
  text-decoration: underline;
}
.animated-section {
  opacity: 0;
  transform: translateY(20%);
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}
.animated-section-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

@import "./media/large";
@import "./media/medium";
@import "./media/small";
