@import "./components/nav";
@import "./components/footer";
@import "./components/cta";

@import "./global";
@import "./mixins";
@import "./colors";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: $light-white;
  font-size: 1.6rem;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

// HEADER
.header {
  display: flex;
  justify-content: center;
  min-height: 92vh;
  text-align: left;
  padding-bottom: 50px;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
    width: 100%;
  }
  &__text {
    text-align: left;
    flex: 1 1 50%;
    padding-right: 2em;
  }

  &__text p {
    padding-bottom: 30px;
    font-size: 1.6rem;
  }
  &__text a {
    background-color: $main-color;
    padding: 1em 2em;
    font-size: 1.7rem;
    border-radius: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.35s ease;
  }
  &__text a:hover {
    background-color: $hover;
  }

  &__image {
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  &__image img {
    // max-width: 70%;
    width: 420px;
    border-radius: 20px;
  }
}

// MAIN
.main {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: $main-color;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__image {
    flex: 1 1 35%;
  }
  &__image img {
    max-width: 100%;
    object-fit: contain;
  }

  &__tekst-box {
    padding-top: 50px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    flex: 1 1 65%;
  }
  &__tekst-box h3 {
    text-align: center;

    margin-bottom: 0.5em;
    color: $light-white;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 1em 0;
    font-size: 1.5rem;
    text-align: left;
    background-color: $pure-dark;
    padding: 1.5em 3em;
    border-radius: 1.4em;
  }
  &__text p {
    color: $pure-white;
    padding-bottom: 10px;
    font-weight: 500;
  }
  &__text span {
    font-weight: 400;
    color: $light-white;
  }
  .main__text p,
  .main__text span {
    margin-left: -1em;
  }
}

//ARTICLE
.content {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: $main-color;
  padding: 100px 0;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
    width: 100%;
  }
  &__text {
    color: $secondary-color;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  &__title {
    font-size: 4rem;
    text-align: center;
    color: $pure-white;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  &__span {
    font-weight: 400;
    color: $light-white;
    font-size: 1.5rem;
  }
}

// ELEMENTS

.section_box {
  padding: 65px 0 35px;

  & h3 {
    text-align: center;
  }
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 35px;

  &__item {
    flex: 0 1 calc(25%);
    max-width: calc(25% - 15px);
    background-color: $pure-dark;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    overflow: hidden;
    text-align: center;
  }
  &__image {
    width: 100%;
    height: 350px;
    display: block;
    margin-bottom: 10px;
    object-fit: cover;
  }
  &__image img {
    width: 100%;
    // update 19.05
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    padding: 0 20px;
    text-align: left;
    margin-bottom: 30px;
  }
  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    color: $pure-white;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 1.4rem;
    font-weight: 400;
    color: $light-white;
    margin-bottom: 20px;
  }
  &__btn {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 10px 20px;
    background-color: $focus;
    color: $light-white;
    border: 1px solid $focus;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  &__btn:hover {
    background-color: $hover;
  }
}

// SLIDER
.section_title {
  text-align: left;
  padding: 75px 20px 25px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 50px 20px;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.carousel-controls {
  position: absolute;
  top: 0%;
  right: 10%;

  z-index: 1;
}
.carousel-control {
  display: inline-block;
  padding: 15px 20px;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: $main-color;
  color: $pure-white;
  text-decoration: none;
  border-radius: 5px;
  // margin: 10px;
  transition: background-color 0.3s ease;
}
.carousel-control:hover {
  background-color: $secondary-color;
}

.carousel {
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

.carousel__item {
  text-align: center;
  background-color: $box-color;
  border-radius: 20px;
  padding: 20px;
  margin-left: 20px;
}

.carousel__image {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.carousel__title {
  margin: 10px 0;
  font-size: 1.5rem;
  color: $dark-color;
}
.carousel__text {
  margin-bottom: 20px;
  color: $pure-dark;
}
.carousel__btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: $dark-color;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.carousel__btn:hover {
  background-color: $main-color;
}

// ABOUT

.about {
  background-color: $light-white;
  padding: 65px 20px 35px;
  &__wrapper {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
  }

  &__text {
    width: calc(65% - 20px);
    color: $dark-color;
  }

  &__text h2 {
    margin-bottom: 25px;
  }

  &__text p {
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__image {
    width: calc(35% - 25px);
    margin-top: 25px;
  }

  &__image img {
    width: 100%;
    height: auto;
  }
}
//

.accordion-wrapper {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;

  // box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);

  width: 85%;
  max-width: 800px;
  margin: 0 auto;
}
.accordion-wrapper h2 {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 25px;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.accordion {
  max-width: 800px;
  margin: 2rem auto 100px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s ease-out;
}

.accordion__item {
  border-bottom: 1px solid #ddd;
  &:last-child {
    border-bottom: none;
  }
}

.accordion__header {
  padding: 1rem;
  background: $main-color;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.accordion__arrow {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding: 0 1rem;
  background: #f9f9f9;
  ul {
    padding-left: 1.5rem;
  }
}

.accordion__list {
  list-style-type: disc;
  margin: 0;
  padding: 0;
}

.accordion__list-item {
  margin: 0.5rem 0;
  font-size: 14px;
  font-weight: 400;
  transition: background-color 0.3s ease-in;
  cursor: pointer;
}

.accordion__item.active .accordion__content {
  max-height: 1000px;
  padding: 1rem;
}

.accordion__item.active .accordion__arrow {
  transform: rotate(180deg);
}
.accordion__list-item:hover {
  background-color: $box-color;
}
// SERVICES

.main-services {
  background-color: $main-color;
}
.services {
  background-color: $main-color;
}
.wrapper {
  margin: 0 auto;
  width: 100%;

  max-width: 1200px;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 2em 0;
}
.section-heading {
  position: relative;
  margin-top: 2em;
  font-size: 4rem;
  font-weight: 300;
  text-align: left;
  color: $pure-white;
  font-weight: 700;
}

.services__item-img {
  width: 100%;
  margin-bottom: 1.3em;
}

.services__item-title {
  color: $light-white;
  margin-bottom: 0.6em;
}

.services__item-text {
  color: $pure-white;
  font-size: 1.4rem;
}

// CONTACT MAIN

.information {
  padding: 75px 0 75px;
  background-color: $light-white;
  background-color: $main-color;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__image {
    flex: 1 1 40%;
  }
  &__image img {
    max-width: 100%;
    object-fit: contain;
  }

  &__tekst-box {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 60%;
  }
  &__tekst-box h2 {
    padding-bottom: 1em;
    text-align: center;
    color: $light-white;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    text-align: left;
    margin: 1em 0;
    font-size: 1.5rem;
    text-align: left;
    background-color: $pure-dark;
    padding: 1.5em 3em;
    border-radius: 1.4em;
  }
  &__text p {
    margin-left: -1em;
    color: $pure-white;
    padding-bottom: 10px;
    font-weight: 500;
  }
  &__text span {
    margin-left: -1em;
    font-weight: 400;
    color: $light-white;
  }
  .main__text p,
  .main__text span {
    margin-left: -1em;
  }
}
// refff

// new

.section-title {
  margin-bottom: 40px;
}

.panel {
  background-color: $light-white;
  padding: 6em 2em;

  &__form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  &__form-box {
    label {
      display: block;
      margin-bottom: 0.5em;
      font-size: 2rem;
    }

    textarea {
      max-width: 100%;
      width: 100%;
      min-width: 100%;
    }

    input,
    textarea {
      padding: 1em 2em;
      margin-bottom: 2em;
      width: 100%;
      color: $dark-color;
      background: none;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 1);

      &:focus {
        outline: none;
        border: 2px solid $focus;
      }
    }

    &:nth-child(1) {
      grid-column: 1/-1;
      grid-row: 1/2;
    }

    &:nth-child(2) {
      grid-column: 1/-1;
      grid-row: 2/3;
    }

    &:nth-child(3) {
      grid-column: 1/-1;
      grid-row: 3/4;
    }
    &:nth-child(4) {
      grid-column: 1/-1;
      grid-row: 4/5;
    }
  }

  &__form-btn {
    grid-column: 1/3;
    grid-row: 5/6;
    padding: 1em;
    border: 1px solid $dark-color;
    background: none;
    font-weight: bold;
    color: $dark-color;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover,
    &:focus {
      outline: none;
      color: $pure-white;
      background-color: $hover;
    }
  }
}
@import "./media/large";
@import "./media/medium";
@import "./media/small";
