.nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 5px 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #222831;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 999;
}
.nav__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav__image {
  height: 25px;
  width: auto;
  margin-right: 10px;
}
.nav__text {
  font-size: 1.5rem;
  color: white;
  /* -webkit-background-clip: text;
  background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}
.nav__list {
  list-style: none;
  display: flex;
}
.nav__item {
  margin-left: 1.4rem;
}
.nav__link {
  text-decoration: none;
  color: white;
  font-size: 95%;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
}
.nav__link:hover {
  color: #1e7d4f;
  /* background-color: #f5f5f5; */
}
.nav__button {
  padding: 1em 2em;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  color: #eeeeee;
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.35s ease;
}
.nav__button:hover {
  background-color: #1e7d4f;
}

.transparent {
  background: rgba(34, 40, 49, 0.6);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger__line {
  width: 25px;
  height: 2px;
  background-color: white;
  display: block;
  margin: 7px auto;
  transition: all 0.3s ease-in;
}

.hamburger-active {
  transition: all 0.3s ease-in;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}

.hamburger-active .hamburger__line:nth-child(2) {
  width: 0px;
}

.hamburger-active .hamburger__line:nth-child(1),
.hamburger-active .hamburger__line:nth-child(3) {
  transition-delay: 0.3s;
}

.hamburger-active .hamburger__line:nth-child(1) {
  transform: translateY(12px);
}

.hamburger-active .hamburger__line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 20% 0;
  transition: all 0.5s ease-in;
  z-index: 2;
  overflow: hidden;
  background: rgba(238, 238, 238, 0.8);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}
.mobile-menu__list {
  padding: 0;
  list-style: none;
}
.mobile-menu__item {
  margin-bottom: 32px;
}
.mobile-menu__link {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
}
.mobile-menu__link:hover {
  color: #1e7d4f;
}
.mobile-menu__button {
  padding: 1em 2em;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid #2e2e2e;
  color: #2e2e2e;
  text-decoration: none;
}
.mobile-menu__button:hover {
  background-color: #1e7d4f;
  border: 1px solid #186441;
  color: #fff;
}

.active {
  left: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.footer {
  background-color: #eeeeee;
  color: #2e2e2e;
}
.footer__container {
  background-color: #eeeeee;
  color: #2e2e2e;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.md\:grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.gap-8 {
  gap: 50px;
}

.footer {
  padding: 0 20px;
}
.footer__text {
  margin-bottom: 10px;
}
.footer__section {
  margin-bottom: 20px;
}
.footer__title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.footer__address {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.footer__span {
  font-size: 1.2rem;
}
.footer__list {
  list-style: none;
  padding: 0;
}
.footer__item {
  margin-bottom: 5px;
}
.footer__link {
  font-size: 1.4rem;
  text-decoration: none;
  color: inherit;
}
.footer__copyright {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__copyright__icons {
  margin-top: 10px;
}
.footer__copyright__icon-link {
  margin-right: 10px;
}
.footer__icon {
  width: 35px;
  height: 35px;
}

.cta {
  background-color: #222831;
  padding: 100px 0;
  text-align: center;
}
.cta__wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cta__title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #eeeeee;
  text-align: left;
  margin-bottom: 15px;
}
.cta__description {
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
  text-align: left;
}
.cta__content {
  flex: 1;
  width: 100%;
  max-width: 600px;
}
.cta__button {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid #eeeeee;
  transition: background-color 0.3s ease;
  font-size: 1em;
  font-weight: 500;
}
.cta__button--secondary {
  background-color: #186441;
}
.cta__button:hover {
  background-color: #393e46;
}
.cta__button--secondary:hover {
  background-color: #1e7d4f;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #000000;
  --sb-size: 11px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
h2 {
  font-size: 4rem;
  font-weight: 800;
}

h3 {
  font-size: 2.8rem;
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #eeeeee;
  font-size: 1.6rem;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: center;
  min-height: 92vh;
  text-align: left;
  padding-bottom: 50px;
}
.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  padding: 0 20px;
  width: 100%;
}
.header__text {
  text-align: left;
  flex: 1 1 50%;
  padding-right: 2em;
}
.header__text p {
  padding-bottom: 30px;
  font-size: 1.6rem;
}
.header__text a {
  background-color: #222831;
  padding: 1em 2em;
  font-size: 1.7rem;
  border-radius: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.35s ease;
}
.header__text a:hover {
  background-color: #1e7d4f;
}
.header__image {
  display: flex;
  flex: 1 1 50%;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.header__image img {
  width: 420px;
  border-radius: 20px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: #222831;
}
.main__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.main__image {
  flex: 1 1 35%;
}
.main__image img {
  max-width: 100%;
  object-fit: contain;
}
.main__tekst-box {
  padding-top: 50px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  flex: 1 1 65%;
}
.main__tekst-box h3 {
  text-align: center;
  margin-bottom: 0.5em;
  color: #eeeeee;
}
.main__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 1em 0;
  font-size: 1.5rem;
  text-align: left;
  background-color: #393e46;
  padding: 1.5em 3em;
  border-radius: 1.4em;
}
.main__text p {
  color: white;
  padding-bottom: 10px;
  font-weight: 500;
}
.main__text span {
  font-weight: 400;
  color: #eeeeee;
}
.main .main__text p,
.main .main__text span {
  margin-left: -1em;
}

.content {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: #222831;
  padding: 100px 0;
}
.content__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
  width: 100%;
}
.content__text {
  color: #2d9a63;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 10px;
}
.content__title {
  font-size: 4rem;
  text-align: center;
  color: white;
  font-weight: 800;
  margin-bottom: 1rem;
}
.content__span {
  font-weight: 400;
  color: #eeeeee;
  font-size: 1.5rem;
}

.section_box {
  padding: 65px 0 35px;
}
.section_box h3 {
  text-align: center;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 35px;
}
.section__item {
  flex: 0 1 25%;
  max-width: calc(25% - 15px);
  background-color: #393e46;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
.section__image {
  width: 100%;
  height: 350px;
  display: block;
  margin-bottom: 10px;
  object-fit: cover;
}
.section__image img {
  width: 100%;
}
.section__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  padding: 0 20px;
  text-align: left;
  margin-bottom: 30px;
}
.section__title {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  margin-top: 15px;
  margin-bottom: 10px;
}
.section__text {
  font-size: 1.4rem;
  font-weight: 400;
  color: #eeeeee;
  margin-bottom: 20px;
}
.section__btn {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 10px 20px;
  background-color: #186441;
  color: #eeeeee;
  border: 1px solid #186441;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.section__btn:hover {
  background-color: #1e7d4f;
}

.section_title {
  text-align: left;
  padding: 75px 20px 25px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 50px 20px;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.carousel-controls {
  position: absolute;
  top: 0%;
  right: 10%;
  z-index: 1;
}

.carousel-control {
  display: inline-block;
  padding: 15px 20px;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #222831;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.carousel-control:hover {
  background-color: #2d9a63;
}

.carousel {
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

.carousel__item {
  text-align: center;
  background-color: #d4dbe3;
  border-radius: 20px;
  padding: 20px;
  margin-left: 20px;
}

.carousel__image {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.carousel__title {
  margin: 10px 0;
  font-size: 1.5rem;
  color: #000000;
}

.carousel__text {
  margin-bottom: 20px;
  color: #393e46;
}

.carousel__btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.carousel__btn:hover {
  background-color: #222831;
}

.about {
  background-color: #eeeeee;
  padding: 65px 20px 35px;
}
.about__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 10px;
}
.about__text {
  width: calc(65% - 20px);
  color: #000000;
}
.about__text h2 {
  margin-bottom: 25px;
}
.about__text p {
  font-size: 1.6rem;
  font-weight: 400;
}
.about__image {
  width: calc(35% - 25px);
  margin-top: 25px;
}
.about__image img {
  width: 100%;
  height: auto;
}

.accordion-wrapper {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  width: 85%;
  max-width: 800px;
  margin: 0 auto;
}

.accordion-wrapper h2 {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 25px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.accordion {
  max-width: 800px;
  margin: 2rem auto 100px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s ease-out;
}

.accordion__item {
  border-bottom: 1px solid #ddd;
}
.accordion__item:last-child {
  border-bottom: none;
}

.accordion__header {
  padding: 1rem;
  background: #222831;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.accordion__arrow {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding: 0 1rem;
  background: #f9f9f9;
}
.accordion__content ul {
  padding-left: 1.5rem;
}

.accordion__list {
  list-style-type: disc;
  margin: 0;
  padding: 0;
}

.accordion__list-item {
  margin: 0.5rem 0;
  font-size: 14px;
  font-weight: 400;
  transition: background-color 0.3s ease-in;
  cursor: pointer;
}

.accordion__item.active .accordion__content {
  max-height: 1000px;
  padding: 1rem;
}

.accordion__item.active .accordion__arrow {
  transform: rotate(180deg);
}

.accordion__list-item:hover {
  background-color: #d4dbe3;
}

.main-services {
  background-color: #222831;
}

.services {
  background-color: #222831;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 2em 0;
}

.section-heading {
  position: relative;
  margin-top: 2em;
  font-size: 4rem;
  font-weight: 300;
  text-align: left;
  color: white;
  font-weight: 700;
}

.services__item-img {
  width: 100%;
  margin-bottom: 1.3em;
}

.services__item-title {
  color: #eeeeee;
  margin-bottom: 0.6em;
}

.services__item-text {
  color: white;
  font-size: 1.4rem;
}

.information {
  padding: 75px 0 75px;
  background-color: #eeeeee;
  background-color: #222831;
}
.information__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.information__image {
  flex: 1 1 40%;
}
.information__image img {
  max-width: 100%;
  object-fit: contain;
}
.information__tekst-box {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 60%;
}
.information__tekst-box h2 {
  padding-bottom: 1em;
  text-align: center;
  color: #eeeeee;
}
.information__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  text-align: left;
  margin: 1em 0;
  font-size: 1.5rem;
  text-align: left;
  background-color: #393e46;
  padding: 1.5em 3em;
  border-radius: 1.4em;
}
.information__text p {
  margin-left: -1em;
  color: white;
  padding-bottom: 10px;
  font-weight: 500;
}
.information__text span {
  margin-left: -1em;
  font-weight: 400;
  color: #eeeeee;
}
.information .main__text p,
.information .main__text span {
  margin-left: -1em;
}

.section-title {
  margin-bottom: 40px;
}

.panel {
  background-color: #eeeeee;
  padding: 6em 2em;
}
.panel__form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.panel__form-box label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 2rem;
}
.panel__form-box textarea {
  max-width: 100%;
  width: 100%;
  min-width: 100%;
}
.panel__form-box input,
.panel__form-box textarea {
  padding: 1em 2em;
  margin-bottom: 2em;
  width: 100%;
  color: #000000;
  background: none;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
}
.panel__form-box input:focus,
.panel__form-box textarea:focus {
  outline: none;
  border: 2px solid #186441;
}
.panel__form-box:nth-child(1) {
  grid-column: 1/-1;
  grid-row: 1/2;
}
.panel__form-box:nth-child(2) {
  grid-column: 1/-1;
  grid-row: 2/3;
}
.panel__form-box:nth-child(3) {
  grid-column: 1/-1;
  grid-row: 3/4;
}
.panel__form-box:nth-child(4) {
  grid-column: 1/-1;
  grid-row: 4/5;
}
.panel__form-btn {
  grid-column: 1/3;
  grid-row: 5/6;
  padding: 1em;
  border: 1px solid #000000;
  background: none;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.panel__form-btn:hover, .panel__form-btn:focus {
  outline: none;
  color: white;
  background-color: #1e7d4f;
}

@media (min-width: 992px) {
  .services__item {
    margin: 4.5em 0;
  }
  .services__item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-box-pack: end;
    flex-direction: column;
    justify-content: flex-end;
    -ms-flex-pack: end;
    margin-bottom: 2.5em;
  }
  .services__item-title {
    color: #eeeeee;
    font-size: 2rem;
    font-weight: 700;
  }
  .services__item-text {
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  .panel__form {
    gap: 30px;
  }
  .panel__form-group:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .panel__form-group:nth-child(2) {
    grid-column: 4/7;
    grid-row: 1/2;
  }
  .panel__form-group:nth-child(3) {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
  .panel__submit {
    grid-row: 3/4;
  }
  .services__item-text {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    padding-top: 50px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .header__text, .header__image {
    flex: 1 1 100%;
  }
  .header__text {
    padding-right: 0;
    margin-bottom: 2rem;
  }
  .header__text p {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .header__text a {
    font-size: 1.5rem;
  }
  .header__image {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
  }
  .header__image img {
    max-width: 75%;
    border-radius: 20px;
  }
  .carousel-controls {
    display: none;
  }
  .section__item {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
  .content__text {
    font-size: 2.21rem;
  }
  .content__title {
    font-size: 2.3rem;
  }
  .content__span {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 790px) {
  .hamburger {
    display: block;
  }
  .nav {
    justify-content: space-between;
  }
  .nav__list,
  .nav__button {
    display: none;
  }
  .cta__wrapper {
    flex-direction: column;
  }
  .cta__title {
    font-size: 1.5rem;
  }
  .cta__description {
    font-weight: 400;
  }
  .cta__button {
    font-size: 1.2rem;
    width: 80%;
  }
  .button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .grid-cols-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .header {
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .header__wrapper {
    flex-direction: column;
  }
  .header__text {
    text-align: center;
    padding-right: 0;
    margin-bottom: 2rem;
  }
  .header__text h2 {
    font-size: 3rem;
  }
  .header__text p {
    font-size: 1.4rem;
    padding-bottom: 10px;
  }
  .header__text button {
    font-size: 1.5rem;
  }
  .header__image img {
    max-width: 80%;
    border-radius: 20px;
  }
  .main__wrapper {
    flex-direction: column-reverse;
  }
  .main__tekst-box {
    padding-top: 50px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1 1 65%;
    padding-bottom: 50px;
  }
  .main__tekst-box h2 {
    font-size: 2.5rem;
  }
  .main__text p {
    color: white;
    padding-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 500;
  }
  .main__text span {
    font-weight: 400;
    font-size: 1.4rem;
    color: #eeeeee;
  }
  .main .main__text p,
  .main .main__text span {
    margin-left: -1em;
  }
  .content__text {
    font-size: 2rem;
  }
  .content__title {
    font-size: 1.8rem;
  }
  .content__span {
    font-size: 1.4rem;
  }
  .section_box h3 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
  }
  .about {
    padding: 80px 0 50px;
  }
  .about__wrapper {
    flex-direction: column;
  }
  .about__text {
    width: calc(100% - 25px);
    color: #000000;
  }
  .about__text h2 {
    font-size: 3rem;
    margin-bottom: 25px;
  }
  .about__text p {
    font-size: 1.4rem;
    font-weight: 400;
  }
  .about__image {
    width: calc(80% - 25px);
    margin-top: 25px;
  }
  .about__image img {
    width: 100%;
    height: auto;
  }
  .section_title {
    text-align: left;
    padding: 75px 25px 0;
  }
  .section_title h2 {
    font-size: 3rem;
    font-weight: 700;
  }
  .information {
    padding-top: 35px;
  }
  .information__wrapper {
    flex-direction: column-reverse;
  }
  .information__tekst-box {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1 1 65%;
    padding-bottom: 50px;
  }
  .information__tekst-box h3 {
    font-size: 2.5rem;
  }
  .information__text p {
    color: white;
    padding-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 500;
  }
  .information__text span {
    font-weight: 400;
    font-size: 1.5rem;
    color: #eeeeee;
  }
  .information .main__text p,
  .information .main__text span {
    margin-left: -1em;
  }
}
@media (min-width: 576px) {
  .services__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .services__item-content {
    width: 55%;
  }
  .services__item-content--right {
    text-align: right;
  }
  .services__item-img {
    width: 40%;
  }
  .services__item-img--right {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .services__item-img {
    margin-bottom: 0;
    max-height: 300px;
  }
}
@media (max-width: 576px) {
  .section__item {
    flex-basis: calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
  .section-title {
    font-size: 3rem;
  }
}/*# sourceMappingURL=main.css.map */