$main-color: #c62f31;
$background-color: #f2b622;
$text-color: #003b56;
$text-color-secondary: #fff;
$light-background-color: lighten($background-color, 10%);
$dark-background-color: darken($background-color, 10%);

$light-text-color: lighten($text-color, 20%);
$dark-text-color: darken($text-color, 20%);

$light-gradient: linear-gradient(
  45deg,
  lighten($main-color, 20%),
  lighten($background-color, 20%)
);
$dark-gradient: linear-gradient(
  45deg,
  darken($main-color, 20%),
  darken($background-color, 20%)
);
