.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.white-block {
  position: absolute;
  background-color: $pure-white;
  height: 40px;
  width: 70%;

  &-left {
    top: 0;
    right: -50px;
    transform: skew(45deg);
  }
}
