.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.white-block {
  position: absolute;
  background-color: #fff;
  height: 40px;
  width: 70%;

  &-left {
    bottom: 0;
    left: -50px;
    transform: skew(45deg);
  }
  &-rigth {
    top: 0;
    left: -50px;
    transform: skew(45deg);
  }
}
.link-animation {
  position: relative;
  transition: background-color 0.25s;
  overflow: hidden;
  z-index: 0;

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
    z-index: -1;
    color: #fff;
  }
  &:hover::before {
    transform: scaleX(2);
    transform-origin: left;
  }
}
