@import "./colors";
@import "./components";
@import "./mixins";

*,
*::before,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.7rem;
  height: 300vh;
}
.toggle-menu {
  display: none;
}

.navigation {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  background-color: $background-color;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;

  &__box {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  & li {
    margin-right: 10px;
    position: relative;
    font-size: 2.2rem;
    height: 2.5em;
  }
  & li::before {
    position: absolute;
    bottom: 0;
    transition: height 0.3s;
    left: 0;
    height: 0;
    width: 100%;
    background-color: $main-color;
    content: "";
    overflow: hidden;
  }

  & li:hover::before {
    height: 100%;
    z-index: -1;
  }
  & li:first-child {
    font-size: 3rem;
    margin-right: auto;
    padding: 0 15px;
    font-weight: 900;
    color: $main-color;
  }
  & li:first-child::before {
    content: none;
    margin-right: auto;
  }
  & ul a {
    display: flex;
    align-items: center;
    color: black;
    padding: 0 30px;
    height: 100%;
    text-decoration: none;
    &:hover {
      color: #ffffff;
    }
  }
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  text-align: center;
  padding: 2em;

  color: $text-color;
  @include imgHero(
    "https://cdn.pixabay.com/photo/2023/04/11/13/27/bird-7917250_1280.jpg"
  );
  background-attachment: scroll;

  &__name-company {
    font-size: 5rem;
    font-weight: 800;
  }
  &__description {
    color: $text-color-secondary;
    font-size: 1.7rem;
  }
  &__link {
    margin-top: 2em;
    padding: 0.8em 1.6em;
    font-size: 1.6rem;
    text-decoration: none;
    border: none;
    border-radius: 9px;
    color: $text-color;
    background-color: #ffffff;
    &::before {
      background-color: $main-color;
    }
  }
}

@media (max-width: 1280px) {
  .navigation {
    position: fixed;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);

    background-color: rgba(255, 255, 255, 0.13);
    z-index: 899;
    &__box {
      width: auto;
      display: block;

      & li {
        position: relative;
        list-style: none;
        margin: 0.5em auto;
        padding: 0.4em 0.7em;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 600;
      }

      & li::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        height: 100%;
        width: 3px;
        background-color: $main-color;
        transition: all 0.25s;
      }
      & li:hover::before {
        width: 100%;
        z-index: -1;
      }
      & li a {
        text-decoration: none;
        color: $text-color;
      }
      & li a:hover {
        color: #fff;
      }
    }
  }

  //TOGGLE
  .toggle-menu {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 1em;
    background: none;
    border: 1px solid transparent;
    z-index: 999;
    cursor: pointer;

    &:hover {
      .toggle-menu__bars::after,
      .toggle-menu__bars::before {
        width: 100%;
      }
    }

    &:focus {
      outline: none;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 9px;
    }
    &__box {
      position: relative;
      width: 40px;
      height: 30px;
    }
    &__bars,
    &__bars::after,
    &__bars::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 3px;
      transition: width 0.3s;
      background-color: $text-color;

      // @include toggleBtn;
    }
    &__bars {
      width: 100%;
      &::after {
        width: 60%;
        top: 13px;
      }
      &::before {
        width: 30%;
        top: 27px;
      }
    }
  }

  .white-block {
    width: 45%;
  }
}

@media (orientation: landscape) {
  .header {
    height: 100vh;
  }
}
@media (min-width: 767px) {
  .header {
    &__name-company {
      font-size: 7rem;
    }
    &__description {
      font-size: 2rem;
    }
    &__link {
      padding: 25px 55px;
      border-radius: 20px;
      font-size: 2rem;
    }
  }
}
// @media (min-width: 992px) {
//   .toggle-menu {
//     top: 55px;
//     right: 65px;
//   }
// }
.active {
  display: flex;
}

// @media (max-width: 1024px) {
//   .header {
//     min-height: 120vh;
//   }
// }
