@import "./colors";
@import "./components";
@import "./mixins";

*,
*::before,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.7rem;
  height: 300vh;
}
//TOGGLE
.toggle-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  color: #000;
  z-index: 999;
  cursor: pointer;

  &:hover {
    .toggle-menu__bars::after,
    .toggle-menu__bars::before {
      width: 100%;
    }
  }

  &:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 9px;
  }
  &__box {
    position: relative;
    width: 40px;
    height: 30px;
  }
  &__bars,
  &__bars::after,
  &__bars::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    transition: width 0.3s;

    // @include toggleBtn;
  }
  &__bars {
    width: 100%;
    &::after {
      width: 60%;
      top: 13px;
    }
    &::before {
      width: 30%;
      top: 27px;
    }
  }
}
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 70vh;
  text-align: center;
  padding: 10em;
  background-color: #f2b622;
  color: #003b56;
  // @include imgHero(
  //   "https://cdn.pixabay.com/photo/2023/04/11/13/27/bird-7917250_1280.jpg"
  // );
  // background-attachment: scroll;

  &__name-company {
    font-weight: 800;
  }
}

@media (max-width: 400px) {
  .header {
    padding: 5em;
  }
}
