body {
  margin: 0;
  padding: 40px 0;
  background: linear-gradient(to bottom, #0172af, #74febd);
  /* background-color: #1c2520;*/
  /* font-family: "Galyon", sans-serif; */
  font-family: "Lato", sans-serif;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 28px;
}
h3 {
  margin-top: 5px;
}
span {
  color: gray;
}
p {
  line-height: 1.5;
}

.image-porfolio {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}
section,
header {
  background-color: white;
  padding: 10px 60px 20px 60px;
  width: 960px;
  margin: 0 auto 0 auto;
  /*       L  G   P  D  */
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header address img {
  margin-right: 10px;
  padding: 5px;
  background-color: #0172af;
  vertical-align: middle;
  border-radius: 50px;
  width: 15px;
  height: 15px;
}

header ul {
  list-style: none;
}
header li {
  margin-bottom: 15px;
}

.hobby-section {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.hobby-section li {
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}
.hobbies-img {
  width: 100px;
  height: 100px;
}
.hobby-section div {
  margin-left: 20px;
}
.hobby-section p {
  color: gray;
}
