* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: #fff;
	font-size: 62.5%;
	line-height: 1.7;
	padding: 35px;
	background: #121a26;
}
a {
	text-decoration: none;
}
.header-box {
	position: relative;
	height: 95vh;
	background-image: linear-gradient(
			to bottom,
			rgba(30, 43, 62, 1),
			rgba(18, 26, 38, 0.7)
		),
		url("../istockphoto-1427639386-2048x2048.jpg");
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
}

.header-box__box-logo {
	position: absolute;
	top: 50px;
	left: 50px;
	font-size: 4rem;
}

.header-box--nav-logo {
	font-size: 35px;
	font-weight: 800;
	letter-spacing: 4px;
	color: #fff;
}
.header-box__header-text {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	text-align: center;
}
.header-text--header-sup {
	display: block;
	font-weight: 800;
	letter-spacing: 3px;
	font-size: 2.5rem;
	text-transform: uppercase;
	animation-name: mainAnimation;
	animation-duration: 3s;
	animation-timing-function: ease;
}
.header-text--header-sub {
	display: block;
	margin-bottom: 40px;
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 5px;
	backface-visibility: hidden;
	animation-name: subAnimation;
	animation-duration: 2.5s;

	animation-timing-function: ease;
}

.btn--active {
	background-color: #fff;
	color: #333;
}

.btn:visited,
.btn:link {
	display: inline-block;
	position: relative;
	padding: 18px 36px;
	font-size: 1.2rem;
	border-radius: 20px;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.35s;
}

.btn::after {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -99;
	height: 100%;
	width: 100%;
	content: "";
	border-radius: 20px;
	transition: all 0.35s;
}
.btn--active::after {
	background-color: #fff;
}
.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.4);
	opacity: 0;
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.btn--active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.btn--animated {
	animation-name: buttonAnimation;
	animation-duration: 3s;
	animation-timing-function: ease;
	animation-fill-mode: backwards;
}
/*
body.darkmode {
  --background-color: #30343f;
  --fontcolor: #ffffff;
  --accent-1: #ed7d9f;
  --accent-2: #ffd9da;
  --accent-3: #ac024e;
  --button-info: #1b2021;
  --counter-color: var(--accent-1);
  --nav-hover: var(--accent-1);
  transition: var(--transition-delay);
}
*/
/* ***********Animation*********** */
@keyframes mainAnimation {
	0% {
		transform: translateY(-100px);
		opacity: 0;
	}
	80% {
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes subAnimation {
	0% {
		/* transform: translateY(-100px); */
		opacity: 0;
	}
	80% {
		/* transform: translateY(10px); */
		opacity: 0;
	}
	100% {
		opacity: 1;
		/* transform: translateY(0); */
	}
}

@keyframes buttonAnimation {
	0% {
		transform: translateY(-100px);
		opacity: 0;
	}
	80% {
		transform: translateY(10px);
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
