:root {
  --background-color-accent-1: #1e2b3e;
  --background-color-accent-2: #121a26;
  --b-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1rem;
  --fontcolor: #fff;
  --fontcolor-2: #ccc;
  --accent-1: #ccc;
  --accent-2: #7140bf;
}

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
body {
  background-color: var(--background-color-accent-1);
  color: var(--fontcolor);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 25px 15%;
  border-bottom: 1px solid transparent;
  transition: all 0.45s ease;
  display: flex;
  justify-content: space-between;
  background: transparent;
  align-items: center;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
}
.nav-list a {
  font-size: 17px;
  color: var(--fontcolor-2);
  font-weight: 500;
  margin: 0 25px;
  transition: all 0.45s ease;
}
.nav-list a:hover {
  color: var(--accent-2);
}
.nav-list a.focus-nav {
  color: var(--accent-2);
}
#menu-icon {
  z-index: 1001;
  cursor: pointer;
  margin-left: 25px;
  font-size: 35px;
  color: var(--fontcolor);
  display: none;
}
.nav-logo {
  font-size: 35px;
  font-weight: 800;
  letter-spacing: 1.1px;
  color: var(--accent-1);
}

span {
  color: var(--accent-2);
}

section {
  padding: 160px 15% 120px;
}
.home-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--background-color-accent-2);
  /*
 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
    url("https://wallpapercave.com/wp/wp6350596.jpg"); */
  background-size: cover;
  background-position: center;
}
.slide-box {
  margin-bottom: 20px;
}
.hero h1 {
  color: var(--fontcolor);
  list-style: 1.1;
  margin: 0 0 8px;

  font-size: var(--b-font);

  font-weight: 700;
}

.hero h3 {
  line-height: 1.1;
  font-weight: 700;
  font-size: 3rem;
  margin: 0 0 35px;
  color: var(--fontcolor);
}
.hero p {
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 40px;
  color: var(--accent-1);
}
/*
.box-one {
  display: inline-block;
  padding: 0 15px;
  line-height: 32px;
  font-size: 20px;
  margin-right: 15px;
  font-weight: 500;
  border-radius: 7px;
  background-color: var(--accent-2);
  color: var(--fontcolor);
  height: 32px;
}
.box-two {
  font-size: 20px;
  font-weight: 500;
  color: var(--accent-1);
  display: inline-block;
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

*/

.btn-hello {
  display: inline-block;
  font-size: 1rem;
  color: var(--fontcolor);
  border-radius: 10px;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 12px 28px;

  transition: all 0.45s ease;
  background: var(--accent-2);
}
.btn-hello:hover {
  transform: scale(0.9);
} /*
.btn-play {
  color: var(--fontcolor);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin-left: 35px;
  font-weight: 500;
}
.btn-play span i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  font-size: 35px;
  color: var(--fontcolor);
  background-color: var(--accent-2);
  transition: all 0.45s ease;
}

.btn-play span i:hover {
  transform: scale(1.1) translate(4px);
}
*/
header.sticky {
  background-color: var(--background-color-accent-2);
  border-bottom: 1px solid #333;
  padding: 12px 15%;
}

.about-me-section {
  background-color: var(--background-color-accent-1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}
.about-picture img {
  max-width: 530px;
  height: auto;
  width: 100%;
  border-radius: 8px;
}
.about-text h2 {
  font-size: var(--h2-font);
  line-height: 1.1;
}
.about-text h4 {
  font-size: 24px;
  font-weight: 700;
  color: var(--fontcolor);
  line-height: 1.7;
  margin: 15px 0 30px;
}
.about-text p {
  color: var(--fontcolor-2);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 4rem;
}
.sklills-section {
  background: var(--background-color-accent-2);
}
.main-skills-text {
  text-align: center;
}
.main-skills-text p {
  color: var(--fontcolor-2);
  font-size: 15px;
  margin-bottom: 15px;
}
.main-skills-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}

.box-container {
  padding: 35px 45px;
  border-radius: 10px;
  background: var(--background-color-accent-1);
  transition: all 0.45s ease;
}
.box-container:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.icons-container {
  margin-bottom: 20px;
  font-size: 45px;
}
.box-container p {
  font-size: 1rem;
  margin-bottom: 25px;
  line-height: 1.8;
  color: var(--fontcolor-2);
}
.box-container h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--fontcolor);
  margin-bottom: 15px;
}
.read-more {
  color: var(--accent-1);
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  border-radius: 5px;
  padding: 8px 18px;
  background: #7140bf;
  transition: all 0.45s ease;
}
.read-more:hover {
  color: var(--fontcolor);
  letter-spacing: 0.5px;
  background: #fff9;
}

.row img {
  width: 100%;
  border-radius: 8px;
  display: block;

  transition: all 0.45s ease;
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  gap: 2.5rem;
  margin-top: 5rem;
  align-items: center;
}
.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}
.row:hover img {
  transform: scale(1.1);
}

.layer {
  width: 100%;
  height: 0%;
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.45s ease;
  background: linear-gradient(rgba(0, 0, 0, 0.5), #7140bf);
}
.layer h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.layer p {
  color: var(--fontcolor-2);
  font-size: 1rem;
  line-height: 1.8;
}

.layer i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-2);
  margin-top: 20px;
  font-size: 20px;
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.row:hover .layer {
  height: 100%;
}
/*
.link-git {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-git i {
  margin: 5px;
}
*/
.contact-section {
  background: var(--background-color-accent-2);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.contact-text h2 {
  font-size: var(--b-font);
  line-height: 1;
}

.contact-text p {
  font-size: var(--p-font);
  color: var(--fontcolor-2);
  line-height: 1.8;
  margin-bottom: 30px;
}

.contact-text h4 {
  color: var(--fontcolor);
  margin: 18px 0;
  font-size: 20px;
  font-weight: 600;
}
.list {
  list-style: none;

  margin-bottom: 2.8rem;
}

.list li {
  margin-bottom: 12px;
}

.list li a {
  display: block;
  color: var(--fontcolor-2);
  font-size: 14px;
  transition: all 0.45s ease;
}

.list li a:hover {
  color: var(--fontcolor);
  transform: translateX(5px);
}
.social-icons i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 15px;
  height: 45px;
  width: 45px;
  font-size: 22px;
  background: var(--accent-2);
  color: var(--fontcolor);
  transition: all 0.45s ease;
}
.social-icons i:hover {
  background: var(--fontcolor);
  color: var(--accent-2);
}
.contact-form-container form {
  position: relative;
}
.contact-form-container form input,
form textarea {
  width: 100%;
  padding: 14px;
  background: var(--background-color-accent-1);
  color: var(--fontcolor);
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.contact-form-container textarea {
  resize: none;
  height: 240px;
}
.contact-form-container .subit-btn {
  display: inline-block;
  background: var(--accent-2);
  color: var(--fontcolor);
  font-size: 16px;
  width: 160px;
  transition: all 0.45s ease;
}

.contact-form-container .subit-btn:hover {
  transform: scale(1.1);
  background: var(--fontcolor);
  cursor: pointer;
  color: var(--accent-2);
}
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--background-color-accent-1);
  padding: 20px 15%;
}
.end-container p {
  color: var(--fontcolor-2);
  font-size: 14px;
}
.arrow-up i {
  padding: 10px;
  font-size: 25px;
  color: var(--fontcolor);
  background: var(--accent-2);
  border-radius: 50%;
  transition: all 0.45s ease;
}
/**/
@media (max-width: 1480px) {
  header {
    padding: 12px 2.5%;
    transition: 0.1s;
  }
  header.sticky {
    padding: 12px 2.5%;
    transition: 0.1s;
  }
  section {
    padding: 110px 3% 60px;
  }
  footer {
    padding: 15px 3%;
  }
}

@media (max-width: 1100px) {
  :root {
    --b-font: 4rem;
    --h2-font: 2.5rem;
    --p-font: 1rem;
    transition: 0.1s;
  }
  .slide-box h3 {
    font-size: 2.5rem;
  }
  .home-section {
    height: 87vh;
  }
}
@media (max-width: 920px) {
  .about-me-section {
    grid-template-columns: 1fr;
  }
  .about-picture {
    text-align: center;
    order: 2;
  }
  .about-picture img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .contact-section {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 840px) {
  #menu-icon {
    display: block;
  }
  .nav-list {
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--background-color-accent-1);
    text-align: left;
    transition: all 0.45s ease;
  }
  .nav-list a {
    display: block;
    margin: 17px;
    font-size: 20px;
    color: var(--fontcolor);
    transition: all 0.45s ease;
  }

  .nav-list a:hover {
    color: var(--accent-2);
  }
  .nav-list a.focus-nav {
    color: var(--fontcolor);
  }
  .nav-list.open {
    top: 100%;
  }
}
