* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.cards-box {
  display: flex;
  width: 1000px;
}
.card {
  position: relative;
  text-align: center;
  margin: 20px;
  height: 800px;
  width: 50%;
  max-height: 600px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  color: #fff;
  font-size: 2rem;
  padding: 20px;
  z-index: 1;

  cursor: crosshair;
}
.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  bottom: 0px;
  right: 0;
  left: 0;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  clip-path: circle(0% at 50% 88%);
  transition: clip-path 0.9s;
}

button:hover ~ .text-box {
  clip-path: circle(120% at 50% 88%);
}

.text-box h1 {
  color: rgb(255, 221, 0);
}
.card-one {
  background-image: url(/img/astronaut-8061095_1920.png);
}

.card-two {
  background-image: url(/img/lynx-8055805_1920.jpg);
}
