@media (min-width: 992px) {
  .services__item {
    margin: 4.5em 0;
  }
  .services__item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-box-pack: end;
    flex-direction: column;
    justify-content: flex-end;
    -ms-flex-pack: end;
    margin-bottom: 2.5em;
  }
  .services__item-title {
    color: $light-white;
    font-size: 2rem;
    font-weight: 700;
  }
  .services__item-text {
    color: $pure-white;
    font-size: 1.4rem;
    font-weight: 400;
  }
}
