@media (min-width: 768px) {
  // CONTACT PANEL
  .panel {
    &__form {
      gap: 30px;
    }

    &__form-group {
      &:nth-child(1) {
        grid-column: 1/4;
        grid-row: 1/2;
      }

      &:nth-child(2) {
        grid-column: 4/7;
        grid-row: 1/2;
      }

      &:nth-child(3) {
        grid-column: 1/-1;
        grid-row: 2/3;
      }
    }

    &__submit {
      grid-row: 3/4;
    }
  }

  .services__item-text {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding-top: 50px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__text,
    &__image {
      flex: 1 1 100%;
    }

    &__text {
      padding-right: 0;
      margin-bottom: 2rem;

      & p {
        font-size: 2rem;
        margin-bottom: 20px;
      }
      & a {
        font-size: 1.5rem;
      }
    }

    &__image {
      display: flex;
      justify-content: center;
      padding: 0 2rem;
    }
    &__image img {
      max-width: 75%;
      border-radius: 20px;
    }
  }
  .carousel-controls {
    display: none;
  }

  .section__item {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
  }

  .content {
    &__text {
      font-size: 2.21rem;
    }
    &__title {
      font-size: 2.3rem;
    }
    &__span {
      font-size: 1.6rem;
    }
  }
}
