@media screen and (max-width: 790px) {
  // NAV
  .hamburger {
    display: block;
  }
  .nav__list,
  .nav__button {
    display: none;
  }
  // CTA
  .cta {
    &__wrapper {
      flex-direction: column;
    }
    &__title {
      font-size: 1.5rem;
    }
    &__description {
      font-weight: 400;
    }
    &__button {
      font-size: 1.2rem;
      width: 80%;
    }
  }

  .button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    gap: 10px;
  }
  // FOOTER
  .grid-cols-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .header {
    padding-top: 50px;
    align-items: center;

    justify-content: center;
    text-align: center;

    &__wrapper {
      flex-direction: column;
    }
    &__text {
      text-align: center;
      padding-right: 0;
      margin-bottom: 2rem;
      & h2 {
        font-size: 3rem;
      }
      & p {
        font-size: 1.4rem;
        padding-bottom: 10px;
      }
      & button {
        font-size: 1.5rem;
      }
    }
    &__image img {
      max-width: 80%;
      border-radius: 20px;
    }
  }

  .main {
    &__wrapper {
      flex-direction: column-reverse;
    }
    &__tekst-box {
      padding-top: 50px;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex: 1 1 65%;
      padding-bottom: 50px;
    }
    &__tekst-box h2 {
      font-size: 2.5rem;
    }

    &__text p {
      color: $pure-white;
      padding-bottom: 10px;
      font-size: 1.4rem;
      font-weight: 500;
    }
    &__text span {
      font-weight: 400;
      font-size: 1.4rem;
      color: $light-white;
    }
    .main__text p,
    .main__text span {
      margin-left: -1em;
    }
  }
  .content {
    &__text {
      font-size: 2rem;
    }
    &__title {
      font-size: 1.8rem;
    }
    &__span {
      font-size: 1.4rem;
    }
  }

  .section_box h3 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
  }

  // ABOUT

  .about {
    padding: 80px 0 50px;
    &__wrapper {
      flex-direction: column;
    }

    &__text {
      width: calc(100% - 25px);
      color: $dark-color;
    }

    &__text h2 {
      font-size: 3rem;

      margin-bottom: 25px;
    }

    &__text p {
      font-size: 1.4rem;
      font-weight: 400;
    }

    &__image {
      width: calc(80% - 25px);
      margin-top: 25px;
    }

    &__image img {
      width: 100%;
      height: auto;
    }
  }

  // SLIDER

  .section_title {
    text-align: left;
    padding: 75px 25px 0;

    & h2 {
      font-size: 3rem;
      font-weight: 700;
    }
  }

  .information {
    padding-top: 35px;
    &__wrapper {
      flex-direction: column-reverse;
    }
    &__tekst-box {
      padding-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      flex: 1 1 65%;
      padding-bottom: 50px;
    }
    &__tekst-box h3 {
      font-size: 2.5rem;
    }

    &__text p {
      color: $pure-white;
      padding-bottom: 10px;
      font-size: 1.4rem;
      font-weight: 500;
    }
    &__text span {
      font-weight: 400;
      font-size: 1.5rem;
      color: $light-white;
    }
    .main__text p,
    .main__text span {
      margin-left: -1em;
    }
  }

  .accordion {
    &__label {
      font-size: 1.5rem;
    }

    &__content {
      font-size: 1.3rem;
    }
  }
}

@media (min-width: 576px) {
  .services__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .services__item-content {
    width: 55%;
  }
  .services__item-content--right {
    text-align: right;
  }
  .services__item-img {
    width: 40%;
  }
  .services__item-img--right {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .services__item-img {
    margin-bottom: 0;
    max-height: 300px;
  }
}

@media (max-width: 576px) {
  .section__item {
    flex-basis: calc(100% - 20px);
    max-width: calc(100% - 20px);
  }

  .section-title {
    font-size: 3rem;
  }
}
