.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block {
  position: absolute;
  background-color: #fff;
  height: 40px;
  width: 70%;
}
.white-block-left {
  bottom: 0;
  left: -50px;
  transform: skew(45deg);
}
.white-block-rigth {
  top: 0;
  left: -50px;
  transform: skew(45deg);
}

.link-animation {
  position: relative;
  transition: background-color 0.25s;
  overflow: hidden;
  z-index: 0;
}
.link-animation::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s;
  z-index: -1;
  color: #fff;
}
.link-animation:hover::before {
  transform: scaleX(2);
  transform-origin: left;
}

*,
*::before,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.7rem;
  height: 300vh;
}

.toggle-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  z-index: 999;
  cursor: pointer;
}
.toggle-menu:hover .toggle-menu__bars::after,
.toggle-menu:hover .toggle-menu__bars::before {
  width: 100%;
}
.toggle-menu:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 9px;
}
.toggle-menu__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.toggle-menu__bars, .toggle-menu__bars::after, .toggle-menu__bars::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 3px;
  transition: width 0.3s;
  background-color: #003b56;
}
.toggle-menu__bars {
  width: 100%;
}
.toggle-menu__bars::after {
  width: 60%;
  top: 13px;
}
.toggle-menu__bars::before {
  width: 30%;
  top: 27px;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  text-align: center;
  padding: 2em;
  color: #003b56;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f2b622;
  background-attachment: fixed;
  background-attachment: scroll;
}
.header__name-company {
  font-size: 5rem;
  font-weight: 800;
}
.header__description {
  color: #fff;
  font-size: 1.7rem;
}
.header__link {
  margin-top: 2em;
  padding: 0.8em 1.6em;
  font-size: 1.6rem;
  text-decoration: none;
  border: none;
  border-radius: 9px;
  color: #003b56;
  background-color: #ffffff;
}
.header__link::before {
  background-color: #c62f31;
}

@media (max-width: 767px) {
  .white-block {
    width: 45%;
  }
}
.navigation {
  position: fixed;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.716);
  z-index: 899;
}
.navigation__box {
  display: block;
}
.navigation__box li {
  position: relative;
  list-style: none;
  margin: 0.5em auto;
  padding: 0.4em 0.7em;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  transition: all 0.35s;
}
.navigation__box li::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 3px;
  background-color: black;
}
.navigation__box li a {
  text-decoration: none;
  color: #003b56;
}

@media (orientation: landscape) {
  .header {
    height: 100vh;
  }
}
@media (min-width: 767px) {
  .header__name-company {
    font-size: 7rem;
  }
  .header__description {
    font-size: 2rem;
  }
  .header__link {
    padding: 25px 55px;
    border-radius: 20px;
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .toggle-menu {
    top: 55px;
    right: 65px;
  }
}
.active {
  display: flex;
}/*# sourceMappingURL=global.css.map */