:root {
  --background-color-accent-1: #2a2a2a;
  --background-color-accent-2: #202020;
  --b-font: 3.5rem;
  --h2-font: 2rem;
  --p-font: 1rem;
  --fontcolor: #fff;
  --fontcolor-2: #ccc;
  --accent-1: #ccc;
  --accent-2: #ff4d05;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

nav {
  position: sticky;
  top: 0;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: var(--background-color-accent-1);
  z-index: 11;
}
section {
  scroll-margin-top: 63px;
}
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}
.title-section {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
.hero-main-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-icon {
  display: block;
  margin-left: auto;
  line-height: 60px;
  padding: 0 25px;
  font-size: 30px;
  height: 60px;
  color: var(--fontcolor);
  background: none;
  border: none;
  cursor: pointer;
}

.nav-items {
  display: none;
}

/*header*/

header {
  position: relative;
  height: 350px;
  background: url(../img/header-top.jpg);
  background-size: cover;
  background-position: center;
}

main {
  margin: 80px 0;
}
.hero-span {
  color: var(--accent-2);
}
.hero-text h1 {
  margin-bottom: 10px;

  color: var(--fontcolor);
  text-shadow: 3px 3px 4px var(--background-color-accent-2);
}
.hero-text p {
  font-size: var(--p-font);
  color: var(--fontcolor);
}

.about-me-section {
  margin-bottom: 15px;
  padding: 0 20px;
}

.about-me-text {
  margin-bottom: 15px;
}

.products-section {
  margin: 60px auto;
}

.product {
  position: relative;
  height: 300px;
  background-image: url(../img/header-top.jpg);
  background-size: cover;
  background-position: center;
  font-size: 16px;
}

.product h3 {
  color: var(--fontcolor);
  text-transform: uppercase;
  text-align: center;
  transition: all 0.45s ease;
}
.product p {
  color: var(--fontcolor-2);
}

.product:hover h3 {
  transform: scale(1.4);
}
.contact {
  text-align: center;
}
.contact .fa-location-dot {
  font-size: 30px;
  text-transform: uppercase;
  margin: 20px 0 10px;
}
.contact h3 {
  text-transform: uppercase;
  margin: 2px;
}

.title-section i {
  font-size: 2px;
}

footer {
  padding: 30px 10px;
  text-align: center;
  color: var(--fontcolor);
  background-color: var(--background-color-accent-1);
}
@media (min-width: 768px) {
  .nav-icon {
    display: none;
  }
  .nav-items {
    display: block;
  }
  .nav-items a {
    padding: 0 30px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--fontcolor);
    transition: color 0.3s;
  }

  .nav-items a:hover {
    color: var(--accent-2);
  }

  .hero-text h1 {
    font-size: 36px;
  }
  .hero-text p {
    font-size: 18px;
  }
  .product h3 {
  }
}
@media (min-width: 1200px) {
  .hero-text h1 {
    font-size: 42px;
  }
  .hero-text p {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .products-box {
    font-size: 0;
  }
  .product {
    display: inline-block;
    width: 50%;
  }
}
