$font-size-large: 36px;
$control-size: 50px;
$transition-duration: 0.5s;

.slider-home-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $carousel-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10002;

  &--hidden {
    display: none;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__image {
    max-width: 70%;
    max-height: 70vh;
    transition: transform $transition-duration ease,
      opacity $transition-duration ease;
  }

  &__control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: $control-size;
    cursor: pointer;
    padding: 10px;
    z-index: 1001;
    transition: background-color $transition-duration;

    &--prev {
      left: 10px;
    }

    &--next {
      right: 10px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &__close {
    position: absolute;
    top: 10%;
    right: 5%;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;
    z-index: 1002;
    transition: color, background-color $transition-duration;
    font-weight: 700;
    border-radius: 5px;

    &:hover {
      background-color: $light-white;
      color: $text-color;
    }

    @media (max-width: 768px) {
      top: 7%;
      right: 5%;
      font-size: 16px;
    }
  }

  &__thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    transition: background-color $transition-duration;
    border-radius: 10px;

    &:hover {
      background-color: $hover-bg-color;
    }

    .thumbnail {
      width: 100px;
      height: 100px;
      margin: 0 5px;
      cursor: pointer;
      border: 2px solid transparent;
      transition: border-color $transition-duration,
        transform $transition-duration;

      &.active {
        border-color: white;
      }

      &:hover {
        border-color: $hover-color;
        transform: scale(1.05);
      }
    }
  }
}

@media (max-width: 768px) {
  .slider-home-page__control {
    display: none;
  }
  .slider-home-page__image {
    aspect-ratio: 2 /2 !important;
    max-width: 90%;
    max-height: 80vh;
  }
}

@media (max-width: 480px) {
  .slider-home-page__image {
    max-width: 100%;
    max-height: 90vh;
  }
}
