.footer {
  padding: 2rem 0;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  &__grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto 1fr;

      & > .footer__section--about {
        grid-column: 1 / -1;
      }
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);

      & > .footer__section--about {
        grid-column: auto;
      }
    }
  }

  &__section {
    &--about,
    &--offer,
    &--company,
    &--contact {
      margin-bottom: 1.5rem;
    }
  }

  &__title {
    font-size: 18px;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }

  &__address,
  &__list,
  &__item {
    margin: 0;
    padding: 0;
    padding-bottom: 7px;
    font-weight: 400;
    list-style: none;
  }

  &__link {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $main-color;
    }
  }

  &__separator {
    margin: 2rem 0;
    border: none;
    border-top: 1px solid #e9ecef;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    border-top: 1px solid #e9ecef;
  }

  &__text {
    font-size: 14px;
  }
}
