@import "../colors";
.nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $main-color;
  box-shadow: $shadow-dark;
  z-index: 999;

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__image {
    height: 25px;
    width: auto;
    margin-right: 10px;
  }
  &__text {
    font-size: 1.5rem;
    color: $pure-white;
    /* -webkit-background-clip: text;
    background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
  }
  &__list {
    list-style: none;
    display: flex;
  }
  &__item {
    margin-left: 1.4rem;
  }

  &__link {
    text-decoration: none;
    color: $pure-white;
    font-size: 95%;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 5px;
  }

  &__link:hover {
    color: $secondary-color; //edit
    /* background-color: #f5f5f5; */
  }

  &__button {
    padding: 1em 2em;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid $light-white;
    border-radius: 5px;
    color: $light-white;
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.35s ease;
  }
  &__button:hover {
    background-color: $secondary-color;
  }

  //   MOBILE ICON
}
.transparent {
  background: rgba(34, 40, 49, 0.6);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger__line {
  width: 25px;
  height: 2px;
  background-color: $pure-white;
  display: block;
  margin: 7px auto;
  transition: all 0.3s ease-in;
}

.hamburger-active {
  transition: all 0.3s ease-in;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}

.hamburger-active .hamburger__line:nth-child(2) {
  width: 0px;
}

.hamburger-active .hamburger__line:nth-child(1),
.hamburger-active .hamburger__line:nth-child(3) {
  transition-delay: 0.3s;
}

.hamburger-active .hamburger__line:nth-child(1) {
  transform: translateY(12px);
}

.hamburger-active .hamburger__line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}
// MOBILE

.mobile-menu {
  position: fixed;
  //   top: 0;
  left: -100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  // /* height: 100vh; */
  padding: 20% 0;
  background-color: $light-white;
  transition: all 0.5s ease-in;
  z-index: 2;
  overflow: hidden;

  &__list {
    padding: 0;
    list-style: none;
  }
  &__item {
    margin-bottom: 32px;
  }
  &__link {
    text-decoration: none;
    color: #000;
    font-size: 95%;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
  }

  &__link:hover {
    color: $secondary-color;
  }
  &__button {
    padding: 1em 2em;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid $dark;
    color: $dark;
    text-decoration: none;
  }
  &__button:hover {
    background-color: $dark;
    color: #fff;
  }
}

.active {
  left: 0;
  box-shadow: $shadow-light;
}
