:root {
  --background-color: #ffffff;
  --font-color: #1b2021;
  --accent-1: #ed7d9f;
  --accent-2: #ac024e;
  --accent-3: #ffd9da;
  --button-info: #1b2021;
  --counter-color: var(--accent-2);
  --nav-hover: var(--accent-2);
  --transition-delay: 0.3s linear;
}
* {
  padding: 10px 0;
  margin: 0;
}

body {
  display: block;
  height: 300vh;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  background-color: var(--background-color);
  color: var(--font-color);
}
section.container_one {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  padding: 30px 20px;
  background-color: #ac024e;
}
div.box {
  position: relative;
  background-color: #ffd9da;
  width: 350px;
  height: 500px;
  margin: 5px 10px;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
h2,
p {
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.block-info {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 10px;
  cursor: crosshair;
  border: 2px solid #ffffff;
  border-radius: 50%;
  z-index: 999;
}
.text-box {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #1b2021b3;
  opacity: 0;
  transition: opacity 0.45s;
}
.box-one {
  background-image: url("https://cdn.pixabay.com/photo/2023/11/09/19/36/zoo-8378189_1280.jpg");
}
.box-two {
  background-image: url("https://cdn.pixabay.com/photo/2023/11/09/19/36/zoo-8378189_1280.jpg");
}
.box-three {
  background-image: url("https://cdn.pixabay.com/photo/2023/11/09/19/36/zoo-8378189_1280.jpg");
}

.block-info:hover + .text-box {
  opacity: 1;
}

@media (max-width: 370px) {
  div.box {
    width: 300px;
  }
}

section.container_two {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b2021;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.card {
  position: relative;
  width: 800px;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
  animation: fade 3s;
}

h1 {
  position: absolute;
  top: 60px;
  left: 60px;
  font-size: 0;
  text-transform: uppercase;
}

h1 span {
  display: inline-block;
  font-size: 50px;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
  animation: rotate-heading 2s 1s linear forwards;
  opacity: 0;
}

h1 span:nth-child(2) {
  animation-delay: 1.4s;
}

h1 span:nth-child(3) {
  animation-delay: 1.2s;
}

h1 span:nth-child(4) {
  animation-delay: 1.2s;
}

h1 span:nth-child(5) {
  animation-delay: 1.4s;
}

h1 span:nth-child(6) {
  animation-delay: 1.2s;
}

h1 span:nth-child(7) {
  animation-delay: 1.4s;
}

h1 span:nth-child(8) {
  animation-delay: 1.2s;
}

.text {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 600px;
  height: 300px;
  font-size: 36px;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
  text-transform: uppercase;
  overflow: hidden;
}

.text::before {
  display: block;
  position: absolute;
  top: -60px;
  left: 0;
  content: "01/01/2000";
  animation: slide-text 1s 3s forwards;
}

.bg-img {
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2017/08/15/08/23/stars-2643089_1280.jpg");
  background-size: cover;
  background-position: center;
}

.earth {
  position: absolute;
  right: 0;
  bottom: -400px;
  width: 200px;
  animation: move 3s forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes move {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    bottom: 0;
  }

  100% {
    bottom: 0;
  }
}

@keyframes rotate-heading {
  from {
    transform: rotateY(90deg);
    filter: blur(8px);
    opacity: 0;
  }

  to {
    transform: rotateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-text {
  from {
    top: -60px;
  }

  to {
    top: 20px;
  }
}
