:root {
  --background-color: #ffffff;
  --font-color: #1b2021;
  --accent-1: #ed7d9f;
  --accent-2: #ac024e;
  --accent-3: #ffd9da;
  --button-info: #1b2021;
  --counter-color: var(--accent-2);
  --nav-hover: var(--accent-2);
  --transition-delay: 0.3s linear;
}
* {
  padding: 20px;
  margin: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  background-color: var(--background-color);
  color: var(--font-color);
  height: 100vh;
}
div p {
  text-align: center;
  border: 2px solid red;
}
