:root {
  --background-color: #ffffff;
  --font-color: #1b2021;
  --accent-1: #ed7d9f;
  --accent-2: #ac024e;
  --accent-3: #ffd9da;
  --button-info: #1b2021;
  --counter-color: var(--accent-2);
  --nav-hover: var(--accent-2);
  --transition-delay: 0.3s linear;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  background-color: var(--background-color);
  color: var(--font-color);
}

/* Darkmode */
body.darkmode {
  --background-color: #30343f;
  --font-color: #ffffff;
  --accent-1: #ed7d9f;
  --accent-2: #ffd9da;
  --accent-3: #ac024e;
  --button-info: #1b2021;
  --counter-color: var(--accent-1);
  --nav-hover: var(--accent-1);
  transition: var(--transition-delay);
}

* {
  scroll-behavior: smooth;
}

header,
main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-family: "Architects Daughter", cursive;
  font-size: 3rem;
  color: var(--font-color);
}

h2,
h3 {
  font-family: "Lora", serif;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

a {
  color: var(--accent-2);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--accent-1);
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  min-height: 60px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
  color: var(--font-color);
  font-size: 20px;
  border-bottom: 3px solid var(--background-color);
}

nav li a {
  color: var(--font-color);
}

nav li:hover,
nav li a:hover {
  color: var(--nav-hover);
}

nav li a:hover {
  border-bottom: 4px solid var(--nav-hover);
  transition: var(--transition-delay);
}

button {
  background-color: var(--accent-1);
  border: none;
  padding: 7px 20px;
  border-radius: 25px;
  font-size: 16px;
}

button a {
  color: var(--button-info);
}

button:hover {
  background-color: var(--accent-2);
  color: #ffffff;
}

button a:hover,
button i:hover {
  color: var(--background-color);
}

/* About/Contact section */
#about,
#contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 100px 0;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 10px;
}

#counter {
  color: var(--counter-color);
  font-weight: bold;
}

#about img,
#contact img {
  width: 33%;
  margin-right: 10px;
  box-shadow: 6px 8px 6px -6px rgba(0, 0, 0, 0.4);
  object-fit: cover;
}

.link {
  color: var(--font-color);
  text-decoration: underline;
  font-weight: normal;
}

.link:hover {
  color: var(--nav-hover);
}

/* Project section */
#projects,
#skills {
  margin: 100px 0;
}

#projects h2,
#skills h2 {
  text-align: center;
}

#projects p {
  margin-left: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.project {
  display: inline-flex;
  max-width: 578px;
  height: 250px;
  margin: 10px;
  box-shadow: 6px 8px 6px -6px rgba(0, 0, 0, 0.4);
}

.project-image {
  object-fit: cover;
  width: 66%;
  border: 1px solid var(--accent-3);
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5;
  background-color: var(--accent-3);
  font-size: 15px;
  width: 33%;
  padding: 10px;
}

.project-info ul {
  margin: 0;
}

.project-info button {
  padding: 8px;
  width: 100%;
}

.project-info button a {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* Skills section */
#skills ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

#skills li {
  margin: 0 15px;
  color: var(--accent-2);
  font-size: 40px;
}

#skills li:hover {
  color: var(--accent-1);
}

/* contactpage */

#contact ul {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
}

#contact li {
  list-style: none;
  margin-right: 20px;
  font-size: 40px;
}

#contact i {
  font-size: 40px;
  color: var(--accent-2);
}

#contact i:hover {
  color: var(--accent-1);
}

/* footer */
footer {
  border-top: 1px solid var(--accent-1);
  margin-top: 100px;
  width: 100%;
}

footer p {
  text-align: center;
}

#contact-footer {
  position: absolute;
  bottom: 0;
}
