* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #f2f5f5;
}

a {
  color: #f2f5f5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #8739f9;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 20px;
}

nav a {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}

nav a:hover {
  background-color: #37b9f1;
  color: #f2f5f5;
}

#hero {
  background-color: #f2f5f5;
  color: #333;
  text-align: center;
  padding: 100px 0;
}

#hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

#hero p {
  font-size: 1.2rem;
  margin-bottom: 50px;
}

#hero .btn {
  display: inline-block;
  background-color: #37b9f1;
  color: #f2f5f5;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

#hero .btn:hover {
  background-color: #8739f9;
}

#services {
  background-color: #f2f5f5;
  padding: 100px 0;
  text-align: center;
}

#services h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}

#services ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#services li {
  flex: 1 1 300px;
  max-width: 400px;
  margin: 0 20px 50px 20px;
  padding: 40px;
  background-color: #37b9f1;
  color: #f2f5f5;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

#services li:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#services h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#about {
  background-color: #8739f9;
  padding: 100px 0;
  text-align: center;
  color: #f2f5f5;
}

#about h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}

#about p {
  font-size: 1.2rem;
  margin-bottom: 50px;
}

#contact {
  background-color: #f2f5f5;
  padding: 100px 0;
  text-align: center;
}

#contact h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
#contact input,
#contact textarea {
  background-color: #f2f5f5;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out;
}

#contact button[type="submit"] {
  background-color: #8739f9;
  color: #f2f5f5;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
